


.header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color: #23393d;

    .navigation {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0px 10px 19px -14px rgba(0,0,0,1);

        .title-org{
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 800;
            

            h1{
                color: #ffffff;
            }
        }

        .nav-bar {
            display: flex;
            align-items: center;
            width: 60%;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 600;
            
        }

        a{
            color:#ffffff ;
            text-transform: uppercase;
        }

        .login{
            background-color: #ffffff;
            width: 100px;
            text-align: center;
            line-height: 30px;
            height: 30px;
            color: #23393d;
            border-radius: 2em;
            font-family: 'Poppins', sans-serif;
        }
    }

}

